body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e9dfcf;
    color: #4b2b18;
}

.encabezado-superior {
    background: white;
    height: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-icono {
    justify-self: start;
    margin-left: 220px;
}

.menu-icono img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.logo-centro img {
    width: 260px;
    height: auto;
}

.logo-centro h1 {
    margin: 0;
    color: #4b2b18;
    font-size: 34px;
    letter-spacing: 2px;
}

.logo-centro p {
    margin: 0;
    color: #e87522;
    font-size: 12px;
}

.iconos img {
    width: 24px;
    height: 24px;
    margin: 10px;
    object-fit: contain;
}

.menu-principal {
    background: rgba(0,0,0,.85);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.menu-principal a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}

.menu-principal a:hover,
.menu-principal .activo {
    color: #f47b20;
}

.boton-menu {
    background: #f47b20;
    color: white !important;
    padding: 18px 32px;
    border-radius: 14px;
    font-weight: bold;
}

.boton-menu {
    position: relative;
    overflow: hidden;
    animation: respirar 2s infinite;
}

.boton-menu::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -80%;
    width: 60%;
    height: 200%;
    background: rgba(255,255,255,.35);
    transform: rotate(25deg);
    transition: .6s;
}

.boton-menu:hover::before {
    left: 130%;
}

.boton-menu:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 25px rgba(244,123,32,.8);
}

@keyframes respirar {
    0% {
        box-shadow: 0 0 0 rgba(244,123,32,.4);
    }

    50% {
        box-shadow: 0 0 22px rgba(244,123,32,.8);
    }

    100% {
        box-shadow: 0 0 0 rgba(244,123,32,.4);
    }
}
.hero {
    height: 720px;
    background: url("../img/Fondo.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.icono-hero {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

.capa-oscura {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.55);
}

.contenido-hero {
    position: relative;
    z-index: 2;
    padding-top: 230px;
    padding-left: 150px;
}

.contenido-hero h2 {
    color: #f47b20;
    font-size: 55px;
    margin: 0;
}

.contenido-hero sup {
    font-size: 30px;
}

.opciones-hero {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 140px;
}

.tarjeta-hero {
    background: white;
    width: 290px;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    box-shadow: 0 8px 18px rgba(0,0,0,.25);
    transition: .4s;
}

.tarjeta-hero:hover {
    transform: translateY(-12px);
    background: #f7efe5;
}

.tarjeta-hero span {
    color: #d8a449;
    font-size: 35px;
}

.tarjeta-hero h3 {
    margin: 0;
    color: #8b3f17;
    font-size: 17px;
}

.tarjeta-hero p {
    margin: 5px 0 0;
    color: gray;
}
.aniversario {
    background: #eee6d8;
    min-height: 650px;
    border-radius: 60px 60px 0 0;
    margin-top: -40px;
    padding: 90px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: visible;
}

.aniversario::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/FondoCafe.png");
    background-size: cover;
    background-position: center bottom;
    opacity: .80;
    border-radius: 60px 60px 0 0;
    z-index: 1;
}



.sello {
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee6d8;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    z-index: 10;
    overflow: hidden;
}

.sello img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.logo-aniversario,
.cuadro-aniversario,
.bolsa-cafe {
    position: relative;
    z-index: 2;
}

.logo-aniversario img {
    width: 360px;
    height: auto;
}

.logo-aniversario h2 {
    font-size: 45px;
    margin: 0;
}

.logo-aniversario h3 {
    font-size: 90px;
    margin: 20px 0;
    border: 6px solid #c49a44;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    display: inline-block;
}

.cuadro-aniversario {
    background: rgba(255,255,255,.85);
    width: 520px;
    text-align: center;
    padding: 35px;
}

.cuadro-aniversario h4 {
    font-size: 26px;
    margin: 0;
    color: #7b4a24;
}

.cuadro-aniversario h4 span {
    font-size: 48px;
    letter-spacing: 8px;
}

.cuadro-aniversario h1 {
    font-size: 58px;
    margin: 10px 0;
    color: #7b4a24;
    text-shadow: 2px 2px white;
}

.cuadro-aniversario h5 {
    color: #7b4a24;
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 1.5;
}

.cuadro-aniversario p {
    font-weight: bold;
    color: #7b4a24;
    line-height: 1.5;
}

.cuadro-aniversario hr {
    border: none;
    height: 3px;
    background: #7b4a24;
}

.botones-aniversario {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
}

.botones-aniversario a,
.boton,
button {
    background: #63351f;
    color: white;
    padding: 15px 35px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;
}

.botones-aniversario a:hover,
.boton:hover,
button:hover {
    background: #f47b20;
    transform: translateY(-4px);
}

.bolsa-cafe img {
    width: 270px;
    animation: flotar 3s ease-in-out infinite;
}

.productos-inicio {
    background: #e9dfcf;
    padding: 110px 40px 90px;
    text-align: center;
}

.productos-inicio h2 {
    font-size: 48px;
    letter-spacing: 10px;
    font-weight: normal;
    margin: 0;
    color: #2d211c;
}

.productos-inicio h1 {
    color: #f47b20;
    font-size: 55px;
    margin: 15px 0;
    letter-spacing: 3px;
}

.boton-tienda {
    background: #8b3f17;
    color: white;
    padding: 15px 45px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 80px;
}

.contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.producto-inicio {
    background: white;
    width: 310px;
    min-height: 360px;
    padding: 170px 35px 35px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(74,42,22,.15);
    position: relative;
    transition: .4s;
}

.producto-inicio.grande {
    transform: translateY(40px);
}

.producto-inicio:hover {
    transform: translateY(-78px);
}

.producto-inicio.grande:hover {
    transform: translateY(20px);
}

.producto-inicio img {
    width: 230px;
    height: 230px;
    object-fit: contain;
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
}

.producto-inicio .carrito {
    position: absolute;
    top: 80px;
    right: 25px;
    font-size: 32px;
}

.precio {
    font-weight: bold;
    color: #7b4a24;
    font-size: 20px;
}

.producto-inicio h3 {
    color: #2d211c;
    font-size: 25px;
}

.producto-inicio p {
    color: #4b2b18;
    font-style: italic;
}

.producto-inicio a {
    color: #f47b20;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}

.lineas-inicio {
    background:
        linear-gradient(rgba(255,255,255,.82), rgba(255,255,255,.82)),
        url("../img/FondoFinal.png");
    background-size: cover;
    background-position: center bottom;
    padding: 120px 40px;
    text-align: center;
}

.lineas-inicio h2 {
    font-size: 42px;
    font-weight: normal;
    margin: 0;
}

.lineas-inicio h1 {
    color: #f47b20;
    font-size: 42px;
    margin: 15px 0 60px;
}

.contenedor-lineas {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.linea {
    background: #f47b20;
    width: 300px;
    padding: 30px;
    border-radius: 25px;
    color: white;
    position: relative;
    transition: .4s;
}

.linea:hover {
    transform: translateY(-15px);
}

.linea img {
    width: 260px;
    height: 220px;
    object-fit: contain;
    background: rgba(255,255,255,.75);
    border-radius: 20px;
    margin-top: -90px;
}

.linea h3 {
    font-size: 24px;
}

.linea p {
    font-style: italic;
}

.linea a {
    background: #8b3f17;
    color: white;
    display: inline-block;
    padding: 15px 55px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: -60px;
}

.footer-principal {
    background: white;
    color: #4b2b18;
}

.tela {
    height: 110px;
    background: linear-gradient(45deg, #c79552, #e1b16d, #b47b3f);
}
.logo-footer {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
}

.redes-footer img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    object-fit: contain;
}

.footer-contenido {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 55px 80px;
    flex-wrap: wrap;
}

.footer-contenido h2 {
    font-size: 42px;
    margin: 0;
    color: #4b2b18;
}
.dato-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dato-footer img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.dato-footer a {
    color: #3b2114;
    text-decoration: none;
}

.dato-footer a:hover {
    color: #f47b20;
}

.footer-contenido h3 {
    color: #f47b20;
}

.footer-contenido p {
    font-size: 18px;
}

.derechos {
    background: #5b2f18;
    color: white;
    text-align: center;
    padding: 15px;
}

.subir {
    position: fixed;
    right: 45px;
    bottom: 90px;
    background: white;
    color: #d87917;
    border: 2px solid #d87917;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    z-index: 30;
}


.seccion {
    padding: 80px;
    text-align: center;
    min-height: 500px;
}

.seccion h1 {
    color: #e87522;
    font-size: 48px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.tarjeta {
    background: white;
    width: 280px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px #c7b9a6;
    transition: .4s;
}

.tarjeta:hover {
    transform: translateY(-12px);
}

.tarjeta img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.bloques {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.bloques div {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 250px;
}

table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: #8b3f17;
    color: white;
    padding: 15px;
}

td {
    padding: 15px;
    border: 1px solid #c7b9a6;
}

form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border: 1px solid #c7b9a6;
    border-radius: 10px;
}

textarea {
    height: 120px;
}

#mensaje {
    color: #8b3f17;
    font-weight: bold;
}

.animar {
    opacity: 0;
    transform: translateY(35px);
    transition: 1s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes flotar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

.productos-sugeridos {
    padding: 80px 120px;
    background: #f8f5ef;
}

.productos-sugeridos h1 {
    color: #3b3b3b;
    font-size: 34px;
    margin-bottom: 50px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
    margin-bottom: 50px;
}

.producto-card {
    background: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .4s;
}

.producto-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.producto-card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    background: #eee;
}

.info-producto {
    padding: 28px;
    text-align: center;
}

.categoria {
    color: #d45b12;
    font-size: 16px;
}

.info-producto h2 {
    color: black;
    font-size: 24px;
}

.precio-producto {
    color: #d45b12;
    font-size: 22px;
}

.museo-pagina {
    background: #eee6d8;
    min-height: 650px;
    padding: 90px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.museo-lateral img {
    width: 330px;
    height: 430px;
    object-fit: contain;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 28px;
    background: #eee6d8;
}

.cuadro-museo {
    background: white;
    width: 540px;
    text-align: center;
    padding: 45px 35px;
    box-shadow: 0 10px 25px rgba(0,0,0,.12);
}

.cuadro-museo h4 {
    color: #7b4a24;
    font-size: 22px;
    margin: 0;
}

.cuadro-museo h1 {
    color: #7b4a24;
    font-size: 58px;
    margin: 5px 0;
    letter-spacing: 6px;
}

.cuadro-museo h2 {
    color: #7b4a24;
    font-size: 34px;
    margin: 0 0 20px;
}

.cuadro-museo h3 {
    color: #7b4a24;
    letter-spacing: 3px;
}

.cuadro-museo p {
    color: #7b4a24;
    font-weight: bold;
    line-height: 1.5;
}

.cuadro-museo hr {
    border: none;
    height: 3px;
    background: #7b4a24;
    margin: 25px 0;
}

.botones-museo a {
    background: #63351f;
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
}

.botones-museo a:hover {
    background: #f47b20;
}
.filtros-productos {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 40px;
}
.temporada {
    background: #eee6d8;
    padding: 90px 40px;
    text-align: center;
    min-height: 650px;
}

.temporada h1 {
    color: #5b321f;
    font-size: 58px;
    margin: 0;
    font-weight: bold;
}

.temporada h2 {
    color: #5b321f;
    font-size: 42px;
    margin: 0 0 60px;
    font-weight: normal;
    letter-spacing: 2px;
}

.productos-temporada {
    display: flex;
    justify-content: center;
    gap: 65px;
    flex-wrap: wrap;
}

.temporada-card img {
    width: 330px;
    height: 430px;
    object-fit: cover;
    border-radius: 40px;
    transition: .4s;
}

.temporada-card img:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 18px 35px rgba(0,0,0,.25);
}
.sucursales-pagina {
    background: #f8f5ef;
    padding: 80px 120px;
}

.sucursales-pagina h1 {
    font-size: 48px;
    color: #5b321f;
    text-align: center;
    margin-bottom: 50px;
}

.grid-sucursales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;
}

.sucursal-card {
    background: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .4s;
}

.sucursal-card:hover {
    transform: translateY(-10px);
}

.sucursal-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.info-sucursal {
    padding: 28px;
}

.info-sucursal h2 {
    color: #5b321f;
}

.info-sucursal p {
    color: #3b2114;
    line-height: 1.5;
}